
h1 {font-size:5vw;}

h2 {font-size:4vw;}

header {text-align: center;}

#privacy {padding: 2vw;}

.menu {display: none;}

#menu {text-align: center;}

#contact {padding: 2vw;}

.map-responsive{
    overflow:hidden;
    padding-bottom:75%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.calendar-responsive{
    overflow:hidden;
    padding-bottom:75%;
    position:relative;
    height:0;
}

.calendar-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.form-responsive{
    overflow:hidden;
    padding-bottom:75%;
    position:relative;
    height:0;
}

.form-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

